.index {
    &-stage {
        position: relative;
        display: grid;
        grid-template-columns: 1fr [content] minmax(272px, 1440px) 1fr;
        place-items: center;
        height: 100vh;
        filter: grayscale(1);
        padding: 1.5rem;

        &-image {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.33;
        }

        &-title {
            position: relative;
            grid-column: content;
            z-index: 2;
            text-align: center;
            color: var(--clr-main);
            place-self: center;
        }

        &-button {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 3rem;
            height: 3rem;
            padding: 0.75rem;
            border-radius: 1.5rem;
            border: 1px solid white;

            &:hover {
                background-color: white;

                .index-stage-icon {
                    mix-blend-mode: difference;
                }
            }
        }
    }

    &-section {
        padding: 4.5rem 1.5rem;

        @media (min-width: 768px) {
            margin: 1.5rem;
            width: unset;
        }

        &-title,
        &-text {
            @media (max-width: 767px) {
                padding: 0 1.5rem;
            }
        }

        &-title {
            color: var(--clr-g050);
            font-size: 32px;
            line-height: 38px;
        }

        &-image {
            @media (max-width: 767px) {
                margin-top: 3rem;
            }
            filter: grayscale(1);
        }
    }

    > #historie {
        background-color: var(--clr-main);

        .index-section {
            &-text {
                color: var(--clr-g100);
            }
        }
    }

    > #spiel {
        background-color: var(--clr-g090);

        .index-section {
            &-text {
                color: var(--clr-g010);
            }
        }
    }

    > #kontakt {
        .index-section {
            &-head {
                color: var(--clr-main);
                font-size: 24px;
                line-height: 30px;
                display: block;
            }

            &-text {
                color: var(--clr-g050);
            }

            &-list {
                margin-top: 3rem;
                list-style-type: none;
                padding: 0 1.5rem;
                color: var(--clr-main);

                &-item {
                    color: var(--clr-g050);
                    line-height: 30px;

                    &-half {
                        display: inline-block;
                        max-width: 50%;
                        width: 100%;
                    }
                }
            }

            &-disclaimer {
                margin-top: 3rem;
                padding: 0 1.5rem;
                color: var(--clr-main);
            }
        }
    }
}
